* {
    
    font-family: 'Open Sans', sans-serif;
}

head, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
}



button {
    width:90px;
    padding: 5px;
    border-radius:3px ;
}

#turnOff {
    color: #fff;
    background-color: black;
}